*__pycache__*
*.env
logs
experiments
generated/
.DS_Store
log_environment_interfaces*
AutumnBenchmark
log
python_examples/autumnbench/example_benchmark/*
python_examples/autumnbench/llm_cache.db
python_examples/autumnbench/explore_by_code/llm_workspace_runs/*